.scaffold {
    height: "100vh";
    width: "100vh";

    background-color: var(--color-background);
    color: var(--color-text);

    padding: var(--space-sm);
}

.body {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));

    gap: var(--space-sm);
}

.card {
    min-height: 300px;
    width: "100%";
    border-radius: 20px;
    padding: var(--space-sm);

    background-color: #f6f6f6;
    color: var(--color-text);

    display: "flex";
    align-items: "center";
    justify-content: "center";
}
