:root {
    --color-primary: "#1A3732";
    --color-onPrimary: "#FFFFFF";
    --color-primaryContainer: "#F1F3EF";
    --color-onPrimaryContainer: "#555555";
    --color-primaryShade: "#ece7fe";
    --color-primaryShade2: "#f4f1fe";
    --color-accent: "#000000";
    --color-onAccent: "#C8F46A";
    --color-accentContainer: "#343434";
    --color-onAccentContainer: "#FFFFFF";
    --color-surface: "#FBFCFB";
    --color-onSurface: "#474747";
    --color-onSurfaceContainer: "#333";
    --color-disabled: "#DCDCDC";
    --color-onDisabled: "#696969";
    --color-background: "#FFFFFF";
    --color-onBackground: "black";
    --color-error: "#FF77B4";
    --color-onError: "white";
    --color-errorContainer: "#FF77B4";
    --color-onErrorContainer: "#000000";
    --color-divider: "#DCDCDC";
    --color-border: "#DCDCDC";
    --color-text: "black";
    --color-text2: "#6D759D";
    --color-text3: "#9198B3";
    --color-text4: "#b3b3b3";
    --color-white: "#FFFFFF";
    --color-black: "#000000";
    --color-transparent: "transparent";
}