:root {
    --color-primary: #120a8f;
    --color-onPrimary: #ffffff;
    --color-primaryContainer: #e7e7f4;
    --color-onPrimaryContainer: #555555;
    --color-primaryShade: #ece7fe;
    --color-primaryShade2: #f4f1fe;
    --color-accent: #c8f46a;
    --color-onAccent: #000000;
    --color-accentContainer: #343434;
    --color-onAccentContainer: #ffffff;
    --color-surface: #f3f3f9;
    --color-onSurface: #474747;
    --color-onSurfaceContainer: #333;
    --color-disabled: #dcdcdc;
    --color-onDisabled: #696969;
    --color-background: #ffffff;
    --color-onBackground: black;
    --color-error: #ff77b4;
    --color-onError: white;
    --color-errorContainer: #ff77b4;
    --color-onErrorContainer: #000000;
    --color-divider: #dcdcdc;
    --color-border: #dcdcdc;
    --color-text: black;
    --color-text2: #323234;
    --color-text3: #7f7f81;
    --color-text4: #b3b3b3;
    --color-white: #ffffff;
    --color-black: #000000;
    --color-transparent: transparent;
}
