.title {
    font-weight: 500;
}

.campaign_name {
    color: var(--color-text2);
    text-align: start;

    font-weight: 400;

    padding-bottom: var(--space-3xs);
}

.campaign_desc {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
