.title {
    font-weight: 500;
}

.table {
    width: "100%";

    border-spacing: var(--space-xs);
    border-collapse: collapse;
}

.th {
    color: var(--color-text2);
    text-align: start;

    font-weight: 400;
    font-size: var(--text-p);

    padding: 10px;
    border-radius: var(--border-radius3);
}

tr {
    border-radius: var(--border-radius3);
}

.td {
    color: var(--color-text3);
    text-align: start;

    font-weight: 300;
    font-size: var(--text-p);

    padding: var(--space-xs);
}

.campaign_name {
    color: var(--color-text2);
    text-align: start;

    font-weight: 400;

    padding-bottom: var(--space-3xs);
}

.campaign_desc {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

tbody tr {
    background-color: #fff;
    border-radius: var(--border-radius3);
}

td {
    border: solid 1.5px #dcdcdc;
    border-style: none;
    padding: var(--space-xs);
}

tr:first-child td:first-child {
    border-top-left-radius: var(--border-radius);
}
tr:first-child td:last-child {
    border-top-right-radius: var(--border-radius);
}

tr:last-child td:first-child {
    border-bottom-left-radius: var(--border-radius);
}
tr:last-child td:last-child {
    border-bottom-right-radius: var(--border-radius);
}

tr td {
    border-bottom-style: solid;
}
tr:last-child td {
    border-bottom-style: none;
}
