.button {
    font-family: inherit;
    font-weight: 500;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--space-sm);

    padding: var(--space-2xs) var(--space-xs);
}

.filled_button {
    color: var(--color-onPrimary);
    background-color: var(--color-primary);

    border-style: none;
    border-radius: var(--border-radius3);

    padding: var(--space-xs);
}

.transparent_button {
    color: var(--color-primary);
    background-color: var(--color-transparent);

    border-style: none;
    border-width: 1.5px;
    border-color: var(--color-border);
}

.outline_button {
    color: var(--color-primary);
    background-color: var(--color-transparent);

    border-style: solid;
    border-width: 1px;
    border-color: var(--color-primary);
    border-radius: var(--border-radius);
}

.back_button {
    padding-left: var(--space-sm);
    padding-top: var(--space-sm);
}
