@import "../_themes/colors/colors.css";
@import "../_themes/text_sizes/text_sizes.css";
@import "../_themes/space/space.css";
@import "../_themes/constants/constants.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,
body {
  width: "100%";
  background-color: var(--color-background);
  /* color: var(--color-text); */
}

h1 {
  font-size: var(--text-h1);
}

h2 {
  font-size: var(--text-h2);
}

h3 {
  font-size: var(--text-h3);
}

h4 {
  font-size: var(--text-h4);
}

h5 {
  font-size: var(--text-h5);
}

h6 {
  font-size: var(--text-h6);
}

p {
  font-size: var(--text-p);
}

tr {
  cursor: pointer;
}

strong {
  font-weight: 500;
  color: "#6D759D";

  font-size: small;
}

a,
button {
  cursor: pointer;
}