/* @link https://utopia.fyi/type/calculator?c=320,18,1.2,1240,20,1.25,6,3,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
    /* Step -3: 10.4167px → 10.24px */
    --text-xxs: clamp(0.64rem, 0.6549rem + -0.0192vi, 0.651rem);
    /* Step -2: 12.5px → 12.8px */
    --text-xs: clamp(0.7813rem, 0.7747rem + 0.0326vi, 0.8rem);
    /* Step -1: 15px → 16px */
    --text-sm: clamp(0.9375rem, 0.9158rem + 0.1087vi, 1rem);
    /* Step 0: 18px → 20px */
    --text-p: clamp(1.125rem, 1.0815rem + 0.2174vi, 1.25rem);
    /* Step 1: 21.6px → 25px */
    --text-h1: clamp(1.35rem, 1.2761rem + 0.3696vi, 1.5625rem);
    /* Step 2: 25.92px → 31.25px */
    --text-h2: clamp(1.62rem, 1.5041rem + 0.5793vi, 1.9531rem);
    /* Step 3: 31.104px → 39.0625px */
    --text-h3: clamp(1.944rem, 1.771rem + 0.8651vi, 2.4414rem);
    /* Step 4: 37.3248px → 48.8281px */
    --text-h4: clamp(2.3328rem, 2.0827rem + 1.2504vi, 3.0518rem);
    /* Step 5: 44.7898px → 61.0352px */
    --text-h5: clamp(2.7994rem, 2.4462rem + 1.7658vi, 3.8147rem);
    /* Step 6: 53.7477px → 76.2939px */
    --text-h6: clamp(3.3592rem, 2.8691rem + 2.4507vi, 4.7684rem);
    /* Step 7: 64.4973px → 95.3674px */
    --text-lg: clamp(4.0311rem, 3.36rem + 3.3555vi, 5.9605rem);
    /* Step 8: 77.3967px → 119.2093px */
    --text-xl: clamp(4.8373rem, 3.9283rem + 4.5448vi, 7.4506rem);
    /* Step 9: 92.876px → 149.0116px */
    --text-xxl: clamp(5.8048rem, 4.5844rem + 6.1017vi, 9.3132rem);
}